@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Disney';
  src: url(../assets/fontes/waltograph42.otf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid black;
}
 
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  
}

.header a {
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  text-decoration: none;
  color: black;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: black;
}

.titulo {
  font-family: 'Disney', cursive;
  font-size: 50px;
  color: black
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  position: relative;
  height: 100vh;
  /* altura total da tela */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* cobre toda a área sem distorcer */
  z-index: -1;
  /* coloca o vídeo atrás do texto */
  filter: brightness(0.6);
 

}

.banner .container { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  flex-direction: column;
}

.banner .container h2 {
  font-size: 60px;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;

}

.banner .container p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;


}

.banner .container span {
  font-weight: 800;
}

/* Princesas da Disney*/

.social {
  background-color: rgb(0, 0, 34);
  display: flex;
  align-items: center;
}

.princesas {
  padding: 50px 0;
  background-color: #000a52;
  text-align: center;

}

.titulo-princesas {
  font-size: 40px;
  margin-bottom: 30px;
  color: white;
  font-family: 'Times New Roman', serif;
}

.princesas p {
  padding: 10px 0;
  font-size: 30px;
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;

}


.cards-princesas {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

.card {
  background: rgb(0, 0, 55) !important;
  width: 250px;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: 0.3s;
  text-align: center;
}

.card {
  background-color: #7c009b;
  width: 240px;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: 0.3s;
  text-align: center;

}
.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}



.card img {
  width: 100%;
  border-radius: 12px;
}

.card h3 {
  margin-top: 10px;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.card p {
  margin: 0 30px;
  font-size: 25px;
}

/*curiosidades princesas*/

.curiosidades {
  background-color: rgb(56, 0, 130);
  padding: 40px 40px;
}

.titulo-curiosidades {
  text-align: center;
  font-size: 60px;
  color: #e5e5e5;
  font-family:'Times New Roman', Times, serif;
}

.titulo-curiosidades span{
  font-family: 'Disney';
}

.descricao{
  text-align: center;
  font-size: 30px;
  color: #e5e5e5;
  font-family:'Times New Roman', Times, serif;
}

.lista-curiosidades {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  gap: 20px; /* espaço entre os cards */
  margin-top: 30px;
}

.card-curiosidade {
  background: rgb(138, 69, 187);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  
}

.card-curiosidade h3 {
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size:30px ;
  color: #eed600; 
}

.card-curiosidade p {
  font-family: 'Times New Roman', Times, serif;
  font-size:26px ;
  color: white; 
}

/*reinos*/
.reinos {
    background: linear-gradient(135deg, #00396b, #02a6d8);
    padding: 60px 40px;
    color: white;
}

.titulo-reinos {
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: 'Times New Roman', serif;
}

.titulo-reinos span {
    font-family: 'Disney';
}

.descricao-reinos {
    text-align: center;
    margin-top: 10px;
    font-size: 28px;
    color: #e6e6e6;
    font-family: 'Times New Roman', serif;
}

.cards-reinos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 40px;
}

.card-reino {
    background: rgb(0, 120, 160);
    padding: 25px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    border: 2px solid transparent;
}


.card-reino h3 {
    font-size: 32px;
    margin: 0;
    font-family: 'Times New Roman', serif;
}

.card-reino p {
    margin-top: 10px;
    font-size: 22px;
    color: rgb(177, 238, 175);
    font-family: 'Times New Roman', serif;
}

.img-reino {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}


/*sobre mimm*/
.sobre-mim {
    background: #842e89;
    padding: 60px 0;
}

.container-sobre {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.foto-sobre {
    width: 320px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.texto-sobre {
    max-width: 600px;
    color: white;
}

.texto-sobre h2 {
    font-family: "Disney", cursive;
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
}

.texto-sobre p {
    font-size: 24px;
    line-height: 1.6;
    font-family: 'Times New Roman', serif;
}




/* FOOTER */

.footer {
  background-color: black;
  color: #fff;
   padding: 25px 0;
  text-align: center;

   display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;


}


.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.footer .titulo {
  font-family: 'Disney', cursive;
  font-size: 50px;
  color: white;
  margin: 0;

}


.footer .nattalia{
   margin-top: 8px;
  font-size: 14px;
  opacity: 0.8;
}

/*login e cadastro*/

.login,
.cadastro {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background:rgb(0, 6, 123); 
}


.card-form {
  width: 420px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 35px 40px;
  box-shadow: 0px 6px 16px rgba(0,0,0,0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn .6s ease-in-out;
}

.card-form h2 {
  font-size: 40px;
  font-family: 'Times New Roman', serif;
  color: white;
  margin-bottom: 25px;
  text-align: center;
}


/* FORMULÁRIO */
.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.campo span {
  font-size: 22px;
  font-family: 'Times New Roman', serif;
  color: white;
  margin-bottom: 6px;
}


.formulario input,
.formulario select {
  border: none;
  height: 42px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-size: 17px;
  background: rgba(255,255,255,0.9);
}



.btn, .botao {
  cursor: pointer;
  width: 160px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background: #ff2c78;
  color: white;
  font-size: 18px;
  font-weight: 700;
  align-self: center;
  margin-top: 20px;
  transition: 0.3s;
}

.btn:hover,
.botao:hover {
  background: #ff0059;
}



.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 260px;
  position: fixed;
  border-radius: 8px;
  border: #ff0061 3px solid;
  padding: 12px;
  top: 20px;
  right: 20px;
}

#div_erros_login {
  display: none;
}



.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  width: 50px;
  height: 50px;
}


/* Animação */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px);}
  to   { opacity: 1; transform: translateY(0);}
}

.side-img {
    width: 260px;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.3));
}


.container-login,
.container-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
}

/* Responsividade */
@media (max-width: 900px) {
    .side-img {
        display: none;
    }
}


/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}

