@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Disney';
  src: url(../assets/fontes/waltograph42.otf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid black;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  text-decoration: none;
  color: black;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: black;
}

.titulo {
  font-family: 'Disney', cursive;
  font-size: 50px;
  color: black;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  position: relative;
  height: 100vh;
  /* altura total da tela */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* cobre toda a área sem distorcer */
  z-index: -1;
  /* coloca o vídeo atrás do texto */
  filter: brightness(0.6);
  /* escurece um pouco para o texto ficar legível */

}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.banner .container h2 {
  font-size: 60px;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;

}

.banner .container p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;


}

.banner .container span {
  font-weight: 800;
}

/* Princesas da Disney*/

.social {
  background-color: rgb(0, 0, 34);
  display: flex;
  align-items: center;
}

.princesas {
  padding: 50px 0;
  background-color: #000a52;
  text-align: center;

}

.titulo-princesas {
  font-size: 40px;
  margin-bottom: 30px;
  color: white;
  font-family: 'Times New Roman', serif;
}

.princesas p {
  padding: 10px 0;
  font-size: 30px;
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;

}


.cards-princesas {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

.card {
  background: rgb(0, 0, 55) !important;
  width: 250px;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: 0.3s;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.card h3 {
  margin-top: 10px;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.card p {
  margin: 0 30px;
  font-size: 25px;
}





/* FOOTER */

.footer {
  background-color: black;
  color: #fff;
   padding: 25px 0;
  text-align: center;

   display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;

}


.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.footer .titulo {
  font-family: 'Disney', cursive;
  font-size: 50px;
  color: white;
  margin: 0;

}


.footer .nattalia{
   margin-top: 8px;
  font-size: 14px;
  opacity: 0.8;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: palevioletred;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ED145B;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}